@model BookSheling.Models.User_Models;
<h2> @ViewBag.Action Page</h2>
<hr />

<div class="row justify-content-center">
<div class="col-md-6">
    <div class="card shadow-sm">
        <div class="card-body">
            <h4 class="card-title mb-4">User Form</h4>
            <form asp-action="Post" asp-controller="User">
                @Html.HiddenFor(x => x.UserID)
                <div class="mb-3">
                    <label asp-for="UserName" class="form-label"></label>
                    <input asp-for="UserName" class="form-control" placeholder="Enter User Name"/>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" placeholder="Enter Email ID " />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="PhoneNumber" class="form-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" placeholder="Enter Phonenumber" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input type="password" asp-for="Password" class="form-control" placeholder="Enter Password"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Select Role</label>
                    <select class="form-control" asp-for="RoleID" asp-items="@(new SelectList(ViewBag.RoleList ,"RoleID","RoleName"))">
                        <option value="">Select Role</option>
                    </select>
                    <span asp-validation-for="RoleID" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <button asp-action="Post" class="btn btn-primary w-100">Save</button>
                </div>
                <div class="mb-3">
                    <a class="btn btn-info w-100" asp-action="GetAllUsers">Back To List</a>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}