@model BookSheling.Models.Author_Model

@{
    ViewData["Title"] = "AddAuhtor";
}

<h1>@ViewBag.Action</h1>

<hr />
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-primary text-white text-center">
                    <h4>Author Form</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Post" asp-controller="Author">
                        @Html.HiddenFor(x => x.AuthorID)
                        <div class="mb-3">
                            <label for="AuthorName" asp-for="AuthorName" class="form-label">Author Name</label>
                            <input type="text" id="AuthorName" name="AuthorName" asp-for="AuthorName" class="form-control" />
                            <span class="text-danger" asp-validation-for="AuthorName"></span>
                        </div>
                        <div class="mb-3">
                            <label for="AuthorEmail" class="form-label" asp-for="AuthorEmail">Author Email</label>
                            <input type="email" id="AuthorEmail" name="AuthorEmail"  asp-for="AuthorEmail" class="form-control" />
                            <span class="text-danger" asp-validation-for="AuthorEmail"></span>
                        </div>
                        <div class="mb-3">
                            <label for="ContactNo" asp-for="ContactNo" class="form-label">Contact Number</label>
                            <input type="text" asp-for="ContactNo" id="ContactNo" name="ContactNo" class="form-control" />
                            <span class="text-danger" asp-validation-for="ContactNo"></span>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary btn-block">Save</button>
                            <a href="@Url.Action("GetAllAuthors", "Author")" class="btn btn-secondary btn-block mt-3">Back to List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
